<div class="container mt-5">
    <div class="d-flex flex-column gap-2">
        <div class="alert alert-primary text-center fw-bold">Fun for Nerds</div>
        <app-word-input
            (wordSubmitted)="onWord($event)" 
            (partialWord)="onPartialWord($event)"
        ></app-word-input>
        <div class="d-flex justify-content-between gap-2">
            <app-odd-length-words
                [oddLengthWord]="oddLengthWord"
                [partialOddWord]="partialOddWord"
            ></app-odd-length-words>
            <app-even-length-words
                [evenLengthWord]="evenLengthWord"
                [partialEvenWord]="partialEvenWord"
            ></app-even-length-words>
        </div>
    </div>
</div>